<div class='container'>
  <h3><a href='<%= @post.url %>'><%= @post.title %></a><span> (<%= @post.url %>)</span></h3>

  <form action='/posts/<%= @post.id %>' method='post'>
    <textarea rows='4' cols='50' name='content' placeholder='Enter comment here'></textarea>
    <input type='submit' value='Add Comment'>
  </form>

  <% @post.comments.each do |comment| %>
  <div>
    <p><%= comment.user.username %></p>
    <p><%= comment.content %></p>
  </div>
  <% end %>

</div>
